header{
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    background-color:whitesmoke;
}

img{
    max-width: 150px;
}

main{

    height: 725px;
}


.text1 a{
    text-decoration: none;
    color: black;
    
}
.text1{
    display: flex;
    align-items: center;
    gap: 6px;
    margin-right: 10px;
}

.ikony img{
    max-width: 50px;
}

.ikony{
    display: flex;
    justify-content: center;
    gap: 150px;
    padding: 10px;
}
footer{
    background-color: grey;
    height: 175px;
}

.odkazy a{
    text-decoration: none;
    color: black;
}

.odkazy {
    display: flex;
    justify-content: center;
    gap: 90px;
    padding: 20px;
}

.copyright{
    display: flex;
    justify-content: center;
}

